.board {
  font-family: "Courier Prime", Courier, monospace;
  background: var(--mid);
  display: inline-block;
  width: calc(min(70vh, 70vw));
  height: calc(min(70vh, 70vw));
  padding: 5px;
  border-radius: 1%;
}

.cell {
  border-radius: 10%;
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: calc(min(70vh / 3 - 10px, 70vw / 3 - 10px));
  text-align: center;
  width: calc(min(70vh / 3 - 10px, 70vw / 3 - 10px));
  height: calc(min(70vh / 3 - 10px, 70vw / 3 - 10px));
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: var(--bg);
  color: var(--fore);
}

.cell.hidden {
  color: transparent;
}
